*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: lightgray;
}

/* Styling for navbar */
.navbar {
  background-color: white;
  border-bottom: 4px solid deeppink;
}

/* Styling for name on navbar */
.navbar-brand {
  font-family: "Dancing Script", cursive;
  font-size: 30px;
}

/* Styling for links */
.navbar-toggler-icon,
.nav-link,
.navbar-brand {
  color: deeppink;

  font-weight: bold;
}

/* Creates a hover effect on the navbar menu options */
.hover:hover {
  color: #ffb8de;
}

/* Color for the active menu item */
.active {
  color: #ffb8de;
}

/* Styling for jumbotron */
.jumbotron {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Card body background color */
.card-body {
  background-color: white;
}

/* Styling for title text on all pages */
.title {
  color: deeppink;
  font-family: "Dancing Script", cursive;
  font-weight: bolder;
}

/* General text styling */
p {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

/* On screens that are 576px wide or less, apply this styling */
@media screen and (max-width: 576px) {
  .container {
    width: 95%;
  }

  /* Align card text */
  .card-text {
    text-align: justify;
  }

  /* Size bio image */
  #bio-image {
    height: auto;
    width: 150px;
  }
}

.portfolio-image {
  height: auto;
  width: 350px;
}

/* Styling for buttons */
.btn {
  background-color: deeppink;
  color: white;
}

.project-card {
  background-color: black;
  color: white;
  margin: 30px;
}

/* Styling for heading of contact info */
/* .contact {
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  text-align: center;
  color: deeppink;
  background-color: black;
} */

/* Styling for Contact me header */
.contact-me {
  font-size: 80px;
  color: black;
}

.list-group-item {
  background-color: black;
  color: white;
}

/* Color for text inputs */
.form-control {
  background-color: white;
}

/* Styling for footer */
.footer {
  border-top: 4px solid deeppink;
  background-color: white;
  text-align: center;
}
